
@{
    ViewBag.Title = "GiohangPartial";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h2>GiohangPartial</h2>
<a href="@Url.Action("Giohang", "Giohang")" style="color:wheat; font-weight:bold; text-decoration:none;">
    <img src="~/Content/images/"/>Giỏ hàng (@ViewBag.Tongsoluong)
</a>

